/* Обнуление */
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #72a360;
    z-index: 1000;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 4mm;
	font-family: Arial, sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #f0f0f0;
}

.content {
    margin-top: 70px; /* высота шапки */
    flex: 1;
}

h1, h2, h3 {
    color: #222;
    text-align: center;
}

.what__image img {
    max-width: 100%;
}

.columns__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.columns__column {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
}

.item__image img {
    width: 100%;
}

.vertical__row {
    display: flex;
    justify-content: space-between;
}

.vertical__column {
    flex: 1;
    margin: 10px;
}

.footer {
    background-color: #72a360;
    color: white;
    padding: 10px 0;
    font-size: 12px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.vertical__btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #72a360;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.vertical__btn:hover {
    background-color: #0056b3;
}

.vertical__item {
    border: 2px solid #72a360; /* Цвет рамки */
    border-radius: 10px; /* Скругление углов */
    padding: 20px; /* Внутренние отступы */
    background-color: #f9f9f9; /* Цвет фона */
    margin-top: 30px; /* Отступ сверху */
}
