<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Регистрация</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/TattooRegstyle.css') }}">
{{ toastr.include_jquery() }}
{{ toastr.include_toastr_css() }}
{{ toastr.message() }}
</head>
<body>
	<div class="wrapper">
			<div class="content">
				<div class="columns1">
					<div class='container'>
						<div class="columns__row">
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__body">
											<div class="item__title">~ Блок Регистрации ~</div>
											<div class="item__text">Для регистрации укажите ваши данные</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__body">
											<div class="item__title">Регистрация</div>
											<form method="post">
												<div class="input-group">
													<label for="email">Почта</label>
													<input type="text" name="email" placeholder="Введите почту" required>
												</div>
												<div class="input-group">
													<label for="login">Логин</label>
													<input type="text" name="login" placeholder="Введите логин" required>
												</div>
												<div class="input-group">
													<label for="password">Пароль</label>
													<input type="password" name="password" placeholder="Введите пароль" required>
												</div>
													<button type="submit" class="btn">Регистрация</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class='container'>
					<div class="footer__row">
						<div class="footer__text">Tattoo Design 2024</div>
					</div>
				</div>
			</footer>
		</div>
	{{ toastr.include_toastr_js() }}
	</body>
</html>
