<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>Наши работы</title>
		<!-- Адаптив -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/TattooWorksstyle.css') }}">
		<!-- Кодировка страницы -->
		<meta charset="UTF-8">
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		<div class="wrapper">
			<div class="content">
				<div class="columns1">
					<div class='container'>
						<div class="columns__title title">БЛОК ПРИМЕРЫ НАШИХ РАБОТ</div>
						<div class="columns__row">
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns2">
					<div class='container'>
						<div class="columns__title title">БЛОК ПРИМЕРЫ НАШИХ РАБОТ</div>
						<div class="columns__row">
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">фото татух, направление и стиль</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class='container'>
					<div class="footer__row">
						<div class="footer__text">Tattoo Design 2024</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>