<!-- Сообщаем браузеру как стоит обрабатывать эту страницу -->
<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<!-- Заголовок страницы, контейнер для других важных данных (не отображается) -->
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>О нас</title>
		<!-- Адаптив -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/Tattooaboutstyle.css') }}">
		<!-- Кодировка страницы -->
		<meta charset="UTF-8">
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		<div class="wrapper">
			<div class="content">
				<div class="vertical">
					<div class='container'>
						<div class="vertical__title title">БЛОК О НАС 1 BLOCK</div>
						<div class="vertical__body">
							<div class="vertical__row">
								<div class="vertical__column vertical__column_1">
									<div class="vertical__item">
										<div class="vertical__subtitle">О НАС</div>
										<div class="vertical__label">о нас</div>
										<div class="vertical__text">различная инфа 1 2 3</div>
										<a href="" class="vertical__btn">инфа</a>
									</div>
								</div>
								<div class="vertical__column vertical__column_2">
									<div class="vertical__item">
										<div class="vertical__subtitle">реализация</div>
										<div class="vertical__label">Идеи</div>
										<div class="vertical__text">
											<p>различная инфа 1 2 3</p>
										</div>
										<a href="" class="vertical__btn">генератор GigaChat</a>
									</div>
								</div>
								<div class="vertical__column vertical__column_3">
									<div class="vertical__item">
										<div class="vertical__subtitle">БЛОК О НАС</div>
										<div class="vertical__label">О НАС</div>
										<div class="vertical__text">различная инфа 1 2 3</div>
										<a href="" class="vertical__btn">О НАС</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns1">
					<div class='container'>
						<div class="columns__title title">БЛОК О НАС</div>
						<div class="columns__row">
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">Различная инфа</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">Различная инфа</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns2">
					<div class='container'>
						<div class="columns__title title">БЛОК О НАС</div>
						<div class="columns__row">
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">Различная инфа</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">Различная инфа</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="columns3">
					<div class='container'>
						<div class="columns__title title">БЛОК О НАС</div>
						<div class="columns__row">
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 1</div>
											<div class="item__text">Различная инфа</div>
										</div>
									</div>
								</div>
							</div>
							<div class="columns__column">
								<div class="columns__item item">
									<div class="item__row">
										<div class="item__image"><img src="img/image_3.jpg" alt=""></div>
										<div class="item__body">
											<div class="item__title">Plain text 2</div>
											<div class="item__text">Различная инфа</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class='container'>
					<div class="footer__row">
						<div class="footer__text">Tattoo Design 2024</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>